client/node_modules

Temp/

Dataset/

audio-chunks/

env.py

Transcripts/*

Uploads/*

Downloads/*

backend/__pycache__/
*/__pycache__/
__pycache__/

client_secrets.json

credentials.json

settings.yaml